.search-bar {
  width: 100%;
  padding: 8px;
  background-color: whitesmoke;
  box-shadow: 0 0 5px 1px lightgrey;
}
.search-bar .ant-input-search {
  height: 40px;
}

.search-bar .anticon-search {
  width: 40px;
}
