.page-header {
  padding: 8px !important;
  background-color: whitesmoke !important;
  box-shadow: 0 0 5px 1px darkgray;
  z-index: 1;
  width: 100%;
  padding: 8px;
}
.ant-page-header-back {
  margin-right: 16px;
  margin-left: 16px;
  font-size: 16px;
}

.ant-page-header-heading-left {
  width: 100%;
}
.ant-page-header-heading-title {
  flex: 1 1 auto;
}
.ant-card-meta-detail {
  line-height: 1.4;
}
.ant-card-meta-detail > div:not(:last-child) {
  margin-bottom: 0 !important;
}
.ant-card-cover img {
  border-radius: 0 !important;
}
